<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
      <div class="navbar-collapse nav justify-content-end">
        <% if (!user.email) { %>
        <form class="form-inline" action="/register" method="GET">
          <input type="submit" class="btn btn-primary" value="Register">
        </form>
        <form style="padding-left: 10px;" class="form-inline" action="/login" method="GET">
          <input type="submit" class="btn btn-secondary" value="Login">
        </form>
        <% } else { %>
        <form class="form-inline" action="/logout" method="POST">
          <span style="padding-right: 20px">Logged In As: <%= user.email %></span>
          <input type="submit" class="btn btn-dark" value="logout">
        </form>
        <% } %>
      </div>
    </div>
  </nav>
</header>